<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title> <b> Inscription</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <form (ngSubmit)="insertionUtilisateurMobile()">
      <ion-item>
        <ion-label color="light">Nom</ion-label>
        <ion-input type="text" color="light" placeholder="Entrer votre Nom" name="nom" [(ngModel)]="log.nom">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Prenom</ion-label>
        <ion-input type="text" color="light" placeholder="Entrer votre Prenom" name="prenom" [(ngModel)]="log.prenom">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Email</ion-label>
        <ion-input type="email" color="light" placeholder="Entrer votre Email" name="email" [(ngModel)]="log.email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input type="password" color="light" placeholder="Entrer votre Mot de passe" name="password" [(ngModel)]="log.pass">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light">Date de naissance</ion-label>
        <ion-input type="date" color="light" name="naissance" >
        </ion-input>
      </ion-item>

      <ion-list radio-group>
        <ion-item>
          <ion-label color="light">Homme</ion-label>
          <ion-radio shape="round" color="light" value="homme" slot="start"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="light">Femme</ion-label>
          <ion-radio shape="round" color="light" slot="start"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-button expand="block" shape="round" type="submit">S'Inscrire</ion-button>
    </form>
    <br>
    <div class="flex">
      <ion-button shape="round" color="facebook">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button shape="round" color="google">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>
  </div>
</ion-content>