<ion-content>
  <div class="header">
    <h2>Bienvenue {{addressMail}}</h2>
    
  </div>
  
  <div class="flex">
        <div class="border-blue">
            <div class="border-white">
              <div class="img-box">
                <img src="../assets/img/andoniaina-rakotondrazaka-1.jpg" alt="profil">
              </div>
            </div>
        </div>
  </div>
  <br>
  <form (ngSubmit)="redirectAlert()">
  <div class="but-signal">
    <ion-button color="border-blue" expand="block" shape="round" fill="outline" type="submit" >Signalement</ion-button>
  </div>
</form>
<ion-card>
  <ion-item lines="none">
    <ion-avatar sloT="start">
      <img class="desc-img" src="../assets/img/andoniaina-rakotondrazaka-1.jpg" alt="profil">
    
  </ion-avatar>
  <ion-label>
    <h2><b>FFFFF</b></h2>
     
    <p>Il y a 23min</p>
  </ion-label>
  </ion-item>
  <ion-item lines="none" class="tweet">
     <ion-label>types de signalisation</ion-label> 
  </ion-item> 
</ion-card>

</ion-content>
